@page "/"

<div class="mx-2 my-2">
    <h2>BlazorNumericTextBox</h2>
    <p>A numeric textBox for Blazor.</p>

    <dl>
        <dt>Basic sample</dt>
        <dd>Showcase the most basic functionality. <a href="basic">View</a></dd>
        <dt>Binding</dt>
        <dd>Showcase binding functionality. <a href="binding">View</a></dd>
        <dt>Dynamic formatting</dt>
        <dd>Style the textbox based on the current value. <a href="dynamicformatting">View</a></dd>
        <dt>Events</dt>
        <dd>React when the user enters a value. <a href="events">View</a></dd>
        <dt>Programmatic</dt>
        <dd>Interact with the textbox with code. <a href="programmatic">View</a></dd>
        <dt>Validation</dt>
        <dd>Supports Blazor's form validation. <a href="validation">View</a></dd>
    </dl>

    <p>Project url: <a href="https://github.com/pablopioli/BlazorNumericTextbox">https://github.com/pablopioli/BlazorNumericTextbox</a></p>
</div>
